<script type="text/javascript" src="http://www.queness.com/resources/html/toggle/js/jquery.js"></script>


<style type="text/css">

#toggle-view {
	list-style:none;	
	font-family:arial;
	font-size:11px;
	margin:0;
	padding:0;
	width:400px;
}

	#toggle-view li {
		margin:10px;
		padding-top:7px;
		padding-bottom:10px;
		border-bottom:1px solid #ccc;
		position:relative;
		cursor:pointer;
	}
	
	#toggle-view h3 {
		margin:0;
		font-size:14px;
	}

	#toggle-view span {
		position:absolute;
		right:5px; top:0;
		color:#ccc;
		font-size:13px;
	}
	
	#toggle-view .panel {
		margin:5px 0;
		display:none;
	}	

</style>

<script type="text/javascript">

$(document).ready(function () {
	
	$('#toggle-view li').click(function () {

		var text = $(this).children('div.panel');

		if (text.is(':hidden')) {
			text.slideDown('200');
			$(this).children('span').html('-');		
		} else {
			text.slideUp('200');
			$(this).children('span').html('+');		
		}
		
	});

});

</script>

<% model_class=Post%>
<script type="text/javascript">
$(document).ready(function(){
    $(".scroll-area").scrollspy({target: "#myNavbar"}) 
});
</script>
<style type="text/css">
.scroll-area {
	height: 380px;
	position: relative;
	overflow: auto;
}
</style>

<div class="row-fluid">
	<div class="span6">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="icon-barcode"></i>
				</span>
				<% sum = 0 %>
				<% @post.versions.reverse.each do |version, i| %>
				
				    
				        <% count = 1 %>
				        <% sum += count %>
				        <!-- <%= sum %> -->
						
				    <% end;  %>
				

				
				<h5>Latest version by <%= @post.user_email %></h5>
				<span class="pull-right">
				
					<%= link_to 'Edit',edit_post_path(@post),class:"btn btn-xs btn-warning",style:"vertical-align: text-top;
margin-right: 2px" %>
				
				</span>
			</div>
			<div class="widget-content">
				<p>
					<span class="badge badge-important">Version # <%= sum %> updated by <%= @post.user_email %></span></h5>
				</p>
				
				<p>
				  <strong>Id:</strong>
				 <%= @post.id %>
			    </p>
				<p>
				  <strong>Last Updated:</strong>
				 <%= @post.updated_at %>
			    </p>
				<p>
				  <strong>Name:</strong>
				  <%= @post.name %>
				</p>

				<p>
				  <strong>Email:</strong>
				  <%= @post.email %>
				</p>

				<p>
				  <strong>Phone:</strong>
				  <%= @post.phone %>
				</p>

				<p>
				  <strong>Address:</strong>
				  <%= @post.address %>
				</p>

				<p>
				  <strong>Remarks:</strong>
				  <%= @post.remarks %>
				</p>
				

				
			</div>
	 	</div>
	</div>
	
	<div class="span6">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="icon-book"></i>
				</span>
				<h5>Previous Versions</h5>
			</div>
			
			<div class="widget-content">
				<div class="scroll-area" data-spy="scroll">
					
					

					
				<% @post.versions.reverse.each do |version| %>
				<!-- -->
				<ul id="toggle-view">
					<li>
						<div class="badge badge-important">Version # <%= version.version %></div>  <div class="badge badge-lite">ID <%= version.id %></div>  <div class="badge badge-lite"> <%= link_to 'Revoke', edit_post_path(version.id) %></div>
						<span>+</span>
						<div class="panel">
							<% version.altered_attributes.to_a.each do |object| %>
							
								<div class="badge badge_width badge-success"><%= object.first %></div> 
								<div class="badge badge-success"><%= object.second.second %></div><br>
							
							<% end %>
						</div>
					</li>

				</ul>
				<!-- -->
                  
				<% end %>
			</div>
	 	</div>
	</div>
	</div>
	
</div>	

<div class='widget-content'>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</div>